*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    background-color: #120323;
    color: #97bf04;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.animal{
    text-align: center;
}

.animal img{
    margin: 10px;
    max-width: 900px;
    max-height: 600px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
 
    
}

button{
    background-color: #d9043d;
    padding: 10px;
    border-radius: 10px;
    
}

.buttons{
    text-align: center;
    padding: 10px;
  
}